[Unit]
Description=Run GlobalPilot auto deploy every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=15s
Persistent=true
Unit=globalpilot-auto-deploy.service

[Install]
WantedBy=timers.target
